@model Nemesis.Site.Models.ProductDetailViewModel

@{
    ViewBag.Title = "Product Details";
}

<h2>Details</h2>

<div>
    <div class="panel-title">
        <h1>Store Details</h1>
    </div>
    <div class="panel-default">
        <div class="row">
            <div class="col-lg-4">Name:</div>
            <div class="col-lg-8">@Html.Label(Model.Name)</div>
        </div>
        <div class="row">
            <div class="col-lg-4">Description:</div>
            <div class="col-lg-8">@Html.Label(Model.Description)</div>
        </div>
    </div>
</div>